body {
    background-color: lightgray;
  }
  
  .container {
    width:1000px;
    margin:0 auto;
  }
  
  .todoHeader {
    background-color: lightgray;
    text-align: left;
    padding:10px;
  }
  
  .todoSection {
    
    text-align: left;
  }