* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  white-space: pre-line
}

.slide{
  width: 100%;
  height: 500px;
}

.App {
  text-align: center;
}

.hold{
  position: sticky;
  top:0;
  padding:10px;
  z-index: 10;
  
}

.loginBox{
  width: 500px;
  height: 500px;
}

